<!--<body class="fondo container-fluid bg-primary">-->
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height:100vh" *ngIf ="!pantallaPrincipal">
        <div style="text-align:center">
            <h2>Clica el botó per començar</h2>
            <p></p>
            <button type="button" (click)="iniciar()" class="btn btn-danger" style="justify-content: center" >Iniciar</button>
            
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center align-items-center" style="height:100vh">
        <app-escena *ngIf="pantallaPrincipal" [citesEpiques]= "citesEpiquesHome"></app-escena>
    </div>
<!--</body>-->
