*{
    overflow: hidden;
}

button{
    font-size: x-large;
    font-family: Roboto;
}

h2{
    font-size: x-large;
    font-family: Roboto;
}

h5{
    font-family: Roboto;
}

::-webkit-scrollbar {
    display: none;
}

.monitor{
    margin: 0 auto;
    padding: 0;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% 100%;
    display: 100%;
    justify-content: center;
}