*{
    overflow: hidden;
}

button{
    font-size: x-large;
    font-family: Roboto;
}

h2{
    font-size: x-large;
    font-family: Roboto;
}

body {
    font-family: Arial, sans-serif;
    background-size: contain;
    background-repeat: round;
    width: 100% 100%;


}


::-webkit-scrollbar {
    display: none;
}
