.cita{
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    flex: row;

}

h5{
    text-align: center;
    margin:25px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.886);
    padding: 15px;
    font-size: small;
    box-shadow: 2px 2px 10px;
    font-family: Roboto;
}

*.aux {
    margin: 0;
    padding: 0;

}


.boton {
    margin-top: 1%;
    width: 100%;
    padding: 3%;
    transition: all 1s ease;

}

.boton:hover {
    margin-top: 1%;
    width: 100%;
    padding: 3%;
    background: #47cbff;
}



.start {
    background: rgb(242, 148, 148);
    transition: all 0.2s ease-in-out;
}

.end {
    background: none;
}